.page {
  height: 100%;
}

.page__body {
  width: 320px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  align-content: start;
  font-family: @font-base;
  font-size: 14px;
  line-height: 18px;
  color: black;
  background-color: white;
}
