.page-footer {
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: @background-section;
}

.page-footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  @media (min-width: @width-tablet) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
    padding: 0 30px;
  }

  @media (min-width: 1000px) {
    padding: 0 60px;
  }

  @media (min-width: @width-desktop) {
    max-width: @width-desktop;
    margin: 0 auto;
    padding: 3px 60px 0;
    box-sizing: border-box;
  }

  &--form {
    @media (min-width: @width-tablet) {
      padding-top: 2px;
    }
  }
}

.page-footer__logo {
  width: 100%;
  padding: 40px 0 28px;
  text-align: center;
  border-bottom: 1px solid @decor-line;

  @media (min-width: @width-tablet) {
    padding: 60px 0 66px;
    text-align: left;
  }
}

.page-footer__logo:hover,
.page-footer__logo:focus {
  opacity: 0.8;
}

.page-footer__logo:active {
  opacity: 0.6;
}


.page-footer__social {
  width: 100%;
  padding: 20px 0 17px;
  text-align: center;
  border-bottom: 1px solid @decor-line;

  @media (min-width: @width-tablet) {
    margin-top: 53px;
    padding: 0;
    border: none;
  }
}

.page-footer__developer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 21px 0 22px;
  color: @footer-icon;

  @media (min-width: 500px) {
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
  }

  @media (min-width: @width-tablet) {
    width: auto;
    justify-content: space-between;
    margin-top: 54px;
    margin-right: 0;
    margin-left: auto;
    padding: 0;
  }
}

.page-footer__developer:hover {
  color: @green;
}

.page-footer__developer-name:focus + .page-footer__developer-logo {
  color: @green;
}

.page-footer__developer:active {
  opacity: 0.3;
}

.page-footer__developer-name {
  font-family: @font-description;
  font-size: 16px;
  line-height: 18px;
  color: @base-dark-grey;
  text-decoration: none;

  @media (min-width: @width-tablet) {
    margin-right: 23px;
  }
}
