.page-footer {
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: @background-section;
}

.page-footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  @media (min-width: @width-tablet) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 30px;
  }

  @media (min-width: @width-tablet) {
    padding: 0 60px;
  }

  @media (min-width: @width-desktop) {
    max-width: @width-desktop;
    margin: 0 auto;
    padding: 0 60px;
    box-sizing: border-box;
  }
}

.page-footer__logo {
  width: 100%;
  padding: 39px 0 31px;
  text-align: center;
  border-bottom: 1px solid @decor-line;

  @media (min-width: @width-tablet) {
    text-align: left;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__social {
  width: 100%;
  padding: 20px 0 21px;
  text-align: center;
  border-bottom: 1px solid @decor-line;

  @media (min-width: @width-tablet) {
    align-self: center;
    border: none;
  }
}

.page-footer__developer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 0;
  color: @footer-icon;

  @media (min-width: 500px) {
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
  }

  @media (min-width: @width-tablet) {
    width: 163px;
    margin-left: auto;
  }

  &:hover,
  &:focus {
    color: @green;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__developer-name {
  font-family: @font-description;
  font-size: 16px;
  line-height: 18px;
  color: @base-dark-grey;
  text-decoration: none;
}
