.plus-item {
  padding: 13px 0 19px;
  border-bottom: 1px solid @decor-line;
}

.plus-item:first-child {
  border-top: 1px solid @decor-line;
}

.plus-item__title {
  margin: 0;
  padding-bottom: 13px;
}

.plus-item__name {
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @dark-grey;
  text-decoration: none;
}

.plus-item__info {
  width: 100%;
  margin-bottom: 15px;
  font-family: @font-description;
  font-size: 14px;
  line-height: 14px;
  color: @base-dark-grey;
  border-spacing: 0;
}

.plus-item__info-row {
  width: 100%;
}

.plus-item__info-price {
  text-align: right;
}
