.item {
  padding: 19px 20px 25px 20px;
  border-bottom: 1px solid @decor-line;
}

.item:first-child {
  border-top: 1px solid @decor-line;
}

.item__info-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 9px;
}

.item__image-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item__info {
  padding: 0;
}

.item__title {
  margin: 0;
  padding: 0;
  padding-bottom: 14px;
}

.item__name {
  display: block;
  width: 100px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @dark-grey;
  text-decoration: none;
}

.item__all-info {
  width: 100%;
  font-family: @font-description;
  font-size: 12px;
  line-height: 16px;
  color: @base-dark-grey;
  border-spacing: 0;
}

.item__info-name {
  margin: 0;
  padding: 0;
  font-weight: normal;
  text-align: left;
}

.item__info-data {
  margin: 0;
  padding: 0;
  text-align: right;
}

.item__info-data--weight {
  padding-right: 2px;
}

.item__info-data--price {
  text-transform: uppercase;
}

.item__button {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
}

.item__more {
  padding: 26px 20px 24px 20px;
  text-align: center;
  color: @base-dark-grey;
  border-bottom: 1px solid @decor-line;
}

.item__more-title::before {
  content: "";
  position: absolute;
  bottom: 51px;
  left: 125px;
  width: 30px;
  height: 30px;
  background-image: url("../img/icons/plus.svg");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.item__more-title {
  position: relative;
  margin: 0;
  padding: 51px 0 8px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.item__more-description {
  margin: 0;
  font-family: @font-description;
  font-size: 12px;
  line-height: 16px;
}

.item__more-button {
  margin-top: 21px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  background-color: @button-more;
}

.item__more-button:hover,
.item__more-button:focus {
  background-color: @button-more-hover;
}

.item__more-button:active {
  color: @base-dark-grey-30;
  background-color: @button-more-hover;
}
