.catalog-types__container {
  padding: 0 20px;

  @media (min-width: 500px) {
    padding: 0 30px;
  }

  @media (min-width: 980px) {
    padding: 0 60px;
  }

  @media (min-width: @width-desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    row-gap: 30px;
    max-width: @width-desktop;
    margin: 0 auto;
    padding: 0 60px;
    box-sizing: border-box;
  }
}

.catalog-types__item {
  margin-bottom: 20px;
  padding: 30px 20px 18px 20px;
  background-color: @background-section;
  position: relative;

  @media (min-width: @width-tablet) {
    margin-bottom: 30px;
    padding: 77px 279px 53px 53px;
  }

  @media (min-width: @width-desktop) {
    margin: 0;
    padding: 77px 51px 55px 52px;
  }

  &--weight {
    @media (min-width: @width-tablet) {
      padding-right: 314px;
    }

    @media (min-width: @width-desktop) {
      padding-right: 61px;
    }
  }
}

.catalog-types__item:last-child {
  margin-bottom: 0;
}

.catalog-types__item--slim::before {
  content: "";
  position: absolute;
  top: 21px;
  left: 22px;
  width: 50px;
  height: 53px;
  background-image: url("../img/icons/type-cataloge/cat-thin.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 50px 53px;

  @media (min-width: @width-tablet) {
    top: 81px;
    left: auto;
    right: 62px;
    width: 200px;
    height: 211px;
    background-size: 200px 211px;
  }

  @media (min-width: @width-desktop) {
    top: 41px;
    left: 52px;
    right: auto;
    width: 100px;
    height: 106px;
    background-size: 100px 106px;
  }
}

.catalog-types__item--weight::before {
  content: "";
  position: absolute;
  top: 24px;
  left: 13px;
  width: 67px;
  height: 50px;
  background-image: url("../img/icons/type-cataloge/cat-weight.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 67px 50px;

  @media (min-width: @width-tablet) {
    top: 91px;
    left: auto;
    right: 28px;
    width: 268px;
    height: 200px;
    background-size: 268px 200px;
  }

  @media (min-width: @width-desktop) {
    top: 47px;
    left: 33px;
    right: auto;
    width: 134px;
    height: 100px;
    background-size: 134px 100px;
  }
}

.catalog-types__name {
  margin: 0;
  padding: 0 10px 29px 71px;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: @width-tablet) {
    padding: 0;
    padding-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: @width-desktop) {
    padding: 0 10px 73px 162px;
  }
}

.catalog-types__description {
  margin: 0;
  margin-bottom: 38px;
  font-family: @font-description;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @base-dark-grey;
  position: relative;

  @media (min-width: @width-tablet) {
    margin-bottom: 48px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @width-desktop) {
    margin-bottom: 23px;
  }
}

.catalog-types__description::after {
  content: "";
  position: absolute;
  bottom: -23px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: @decor-line;

  @media (min-width: @width-tablet) {
    display: none;
  }
}

.catalog-types__link {
  padding: 0;
  padding-right: 44px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @black;
  text-decoration: none;
  position: relative;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @width-tablet) {
    padding: 4px 57px 4px 0;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @width-desktop) {
    padding-right: 60px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 7px;
    right: 0;
    width: 32px;
    height: 10px;
    background-image: url("../img/icons/shape.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 32px 10px;

    @media (min-width: @width-tablet) {
      top: 14px;
    }
  }

  &:hover::after,
  &:focus::after {
    background-image: url("../img/icons/shape-hover.svg");
  }
}
