.catalog-types__container {
  padding: 0 20px;
}

.catalog-types__item {
  margin-bottom: 20px;
  padding: 30px 33px 18px 20px;
  background-color: @background-section;
}

.catalog-types__item:last-child {
  margin-bottom: 0;
}

.catalog-types__name {
  margin: 0;
  padding: 0 10px 29px 71px;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.catalog-types__description {
  margin: 0;
  margin-bottom: 38px;
  font-family: @font-description;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @base-dark-grey;
}

.catalog-types__link {

  padding: 4px 44px 4px 0;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @black;
  text-decoration: none;
}

.catalog-types__link:active {
  color: @black-30;
}
