.example {
  position: relative;
}

.example::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: @background-section-example;
  z-index: -1;

  @media (min-width: @width-tablet) {
    top: 619px;
  }

  @media (min-width: @width-desktop) {
    top: 194px;
  }
}

.example__container {
  padding: 27px 20px 25px;
  max-width: @width-desktop;

  @media (min-width: @width-tablet) {
    padding: 43px 30px 33px;
  }

  @media (min-width: @width-desktop) {
    display: grid;
    grid-template-columns: 1fr auto;
    max-width: @width-desktop;
    margin: 0 auto;
    padding: 0 60px;
    box-sizing: border-box;
  }
}

.example__container-info {
  @media (min-width: @width-desktop) {
    padding: 58px 134px 75px 0;
  }
}

.example__title {
  margin: 0;
  padding-bottom: 33px;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: @width-tablet) {
    padding-bottom: 63px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @width-desktop) {
    padding-bottom: 146px;
  }
}

.example__description {
  margin: 0;
  padding-bottom: 25px;
  font-family: @font-description;
  font-size: 14px;
  line-height: 18px;
  color: @base-dark-grey;

  @media (min-width: @width-tablet) {
    padding: 0 15px 54px 0;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @width-desktop) {
    padding: 0;
    padding-bottom: 69px;
  }
}

.example__statistics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: @width-tablet) {
    display: grid;
    grid-template-columns: auto auto 1fr;
    padding-bottom: 59px;
  }

  @media (min-width: @width-desktop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
  }
}

.example__item {
  position: relative;

  @media (min-width: @width-tablet) {
    margin-right: 42px;
  }

  &:last-of-type {
    margin: 0;
  }
}

.example__number {
  min-width: 124px;
  margin: 0;
  margin-bottom: 34px;
  padding: 15px 21px 17px;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  box-sizing: border-box;
  border: 1px solid @border-example-statistics;
  border-radius: 3px;

  @media (min-width: @width-tablet) {
    min-width: 162px;
    margin: 0;
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 37px;
  }

  @media (min-width: @width-desktop) {
    margin-bottom: 60px;
  }
}

.example__statistics-description {
  position: absolute;
  top: 50px;
  left: 20px;
  width: 87px;
  padding: 0 14px;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  background-color: @background-section-example;
  box-sizing: border-box;

  @media (min-width: @width-tablet) {
    top: 66px;
    left: 0;
    right: 0;
    width: fit-content;
    margin: 0 auto;
    padding: 0 7px;
    font-size: 14px;
    line-height: 14px;
    background-color: @white;
    box-sizing: border-box;
  }

  @media (min-width: @width-desktop) {
    background-color: @background-section-example;
  }
}

.example__item-price {
  width: 100%;
  padding-bottom: 42px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: @width-tablet) {
    padding: 0;
    font-size: 20px;
    text-align: right;
  }

  @media (min-width: @width-desktop) {
    text-align: left;
  }
}

.example__description-price {
  margin: 0;
}

.example__price {
  @media (min-width: @width-tablet) {
    display: block;
  }

  @media (min-width: @width-desktop) {
    display: inline-block;
    margin-left: 63px;
  }
}

.example__slider {
  position: relative;
}

.example__slides {
  width: 100%;
  min-height: 232px;
  margin: 0;
  padding: 0;
  list-style: none;
  outline-offset: -1px;
  outline: 1px solid purple;


  @media (min-width: @width-tablet) {
    min-height: 620px;
  }

  @media (min-width: @width-desktop) {
    min-height: 659px;
    min-width: 650px; /*для вида*/
  }
}

.example__slide {
  display: none;
  height: 100%;
  background-color: rgb(200, 237, 241);
}

.example__slide--active {
  display: block;
}

.example__slider-controls {
  display: grid;
  grid-template-columns: auto 1fr auto;
  width: 100%;
  padding: 0 25px 0 27px;
  box-sizing: border-box;

  @media (min-width: @width-tablet) {
    position: absolute;
    bottom: 31px;
    left: 0;
    padding: 0 62px 0 56px;
  }

  @media (min-width: @width-desktop) {
    padding: 0;
    padding-left: 78px;
  }
}

.example__range {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2px;
  position: relative;
}

.example__range-toggle {
  position: absolute;
  left: 32px;
  width: 20px;
  height: 20px;
  border: 1px dashed @dark-grey;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
}
/*Просто для понимания :D*/

.example__range-scale {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 14px;
  padding: 0 5px;
  background-color: @white;
  border: 1px solid @grey;
  border-radius: 6px;
  box-sizing: border-box;
}

.example__range-bar {
  width: 35px;
  height: 6px;
  background-color: @green;
  border-radius: 6px;
}

.example__slider-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}

.example__present {
  @media (min-width: @width-desktop) {
    padding-right: 0;
  }
}
