.example {
  position: relative;
  box-sizing: border-box;

  &::before {
    @media (min-width: @width-desktop) {
      content: "";
      position: absolute;
      top: 194px;
      left: 50%;
      width: 50%;
      height: 100%;
      background-color: @background-section-example;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: @background-section-example-2;
    z-index: -2;

    @media (min-width: @width-tablet) {
      top: 619px;
    }

    @media (min-width: @width-desktop) {
      top: 194px;
    }
  }
}

.example__container {
  @media (min-width: @width-tablet) {
    padding: 43px 30px 0;
  }

  @media (min-width: 1000px) {
    padding: 43px 60px 0;
  }

  @media (min-width: @width-desktop) {
    display: grid;
    grid-template-columns: 1fr auto;
    max-width: @width-desktop;
    margin: 0 auto;
    padding: 0 20px 0 60px;
    box-sizing: border-box;
  }
}

.example__container-info {
  padding: 27px 20px 0;

  @media (min-width: 500px) {
    padding: 27px 30px 0;
  }

  @media (min-width: @width-tablet) {
    padding: 0;
  }

  @media (min-width: @width-desktop) {
    padding: 58px 170px 72px 0;
  }
}

.example__title {
  margin: 0;
  padding-bottom: 33px;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: @width-tablet) {
    padding-bottom: 64px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @width-desktop) {
    padding-bottom: 149px;
  }
}

.example__description {
  margin: 0;
  padding-bottom: 24px;
  font-family: @font-description;
  font-size: 14px;
  line-height: 18px;
  color: @base-dark-grey;

  @media (min-width: @width-tablet) {
    padding: 0 15px 52px 0;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @width-desktop) {
    padding: 0;
    padding-bottom: 69px;
  }
}

.example__statistics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 31px;

  @media (min-width: 560px) {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 42px;
    padding-bottom: 64px;
  }

  @media (min-width: @width-tablet) {
    grid-template-columns: auto auto 1fr;
  }

  @media (min-width: 1000px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: @width-desktop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
  }
}

.example__item {
  position: relative;
}

.example__number {
  min-width: 124px;
  margin: 0;
  margin-bottom: 34px;
  padding: 15px 15px 17px;
  text-align: center;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  box-sizing: border-box;
  border: 1px solid @border-example-statistics;
  border-radius: 3px;

  @media (min-width: 560px) {
    margin: 0;
  }

  @media (min-width: @width-tablet) {
    min-width: 162px;
    padding: 14px 15px 19px;
    font-size: 30px;
    line-height: 37px;
  }

  @media (min-width: @width-desktop) {
    padding: 12px 15px 21px;
    margin-bottom: 54px;
  }
}

.example__description-container {
  position: absolute;
  top: 49px;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;

  @media (min-width: 480px) {
    top: 50px;
  }

  @media (min-width: @width-tablet) {
    top: 63px;
  }

  @media (min-width: @width-desktop) {
    top: 61px;
  }
}

.example__statistics-description {
  padding: 0 14px;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  background-color: @background-section-example-2;
  box-sizing: border-box;

  @media (min-width: @width-tablet) {
    left: 0;
    right: 0;
    width: fit-content;
    padding: 0 7px;
    font-size: 14px;
    line-height: 14px;
    background-color: @white;
    box-sizing: border-box;
  }

  @media (min-width: @width-desktop) {
    background-color: @background-section-example-2;
  }
}

.example__next-line {
  @media (min-width: 480px) {
    display: none;
  }
}

.example__item-price {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
  padding-bottom: 42px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: 560px) {
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    text-align: center;
  }

  @media (min-width: @width-tablet) {
    justify-content: flex-end;
    font-size: 20px;
    line-height: 28px;
    text-align: right;
  }

  @media (min-width: 1000px) {
    justify-content: center;
    text-align: center;
  }

  @media (min-width: @width-desktop) {
    justify-content: flex-start;
    text-align: left;
  }
}

.example__description-price {
  margin: 0;
}

.example__price {
  @media (min-width: 560px) {
    display: block;
  }

  @media (min-width: @width-desktop) {
    display: inline-block;
    margin-left: 58px;
  }
}

.example__slider {
  width: 320px;
  height: 320px;
  margin: 0 auto;
  position: relative;

  @media (min-width: @width-tablet) {
    width: 708px;
    height: 620px;
    margin-bottom: 33px;
  }

  @media (min-width: @width-desktop) {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    width: 656px;
    height: 656px;
    margin: 0;
  }
}

.example__slides {
  width: 100%;
  min-height: 232px;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;

  @media (min-width: @width-tablet) {
    min-height: 620px;
  }

  @media (min-width: @width-desktop) {
    width: 650px;
    min-height: 659px;
    position: relative;
  }
}

.example__slide {
  z-index: 1;

  @media (min-width: @width-desktop) {
    width: 650px;
    height: 659px;
  }
}

.example__slide-past {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  @media (min-width: @width-tablet) {
    width: 50%;
    overflow: hidden;
  }

  @media (min-width: @width-desktop) {
    background-color: @background-section-example-2;
  }
}

.example__container-past {
  width: 100%;
  height: 100%;
  position: relative;

  @media (min-width: @width-desktop) {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 194px;
      background-color: @white;
      z-index: -1;
    }
  }
}

.example__img-past {
  padding-right: 8px;

  @media (min-width: @width-tablet) {
    width: auto;
    height: 522px;
    padding-top: 19px;
    padding-right: 0;
    padding-left: 15px;
  }

  @media (min-width: @width-desktop) {
    margin-left: -57px;
    padding-top: 2px;
    padding-right: 8px;
  }
}

.example__slide-present {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  overflow: hidden;

  @media (min-width: @width-tablet) {
    width: 50%;
  }
}

.example__img-present {
  padding-top: 2px;
  padding-left: 3px;

  @media (min-width: @width-tablet) {
    float: right;
    width: auto;
    height: 522px;
    padding-top: 19px;
    padding-right: 53px;
  }

  @media (min-width: @width-desktop) {
    padding-top: 2px;
    padding-right: 53px;
  }
}

.example__slider-controls {
  position: absolute;
  bottom: 35px;
  left: 0;
  display: grid;
  grid-template-columns: auto 1fr auto;
  width: 100%;
  padding: 0 50px 0 53px;
  box-sizing: border-box;
  z-index: 1;

  @media (min-width: @width-tablet) {
    bottom: 35px;
    padding: 0 62px 0 56px;
  }

  @media (min-width: @width-desktop) {
    bottom: 67px;
    padding: 0 35px;
  }
}

.example__range {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2px;
  position: relative;

  @media (min-width: @width-tablet) {
    padding: 0;
  }
}

.example__range-toggle {
  position: absolute;
  left: 50%;
  transform: translateX(-15px);
  width: 20px;
  height: 20px;
  border: 1px dashed transparent;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;

  @media (min-width: @width-tablet) {
    width: 32px;
    height: 32px;
    padding: 0;
    background-color: @green;
    border: 12px solid @white;
    box-shadow: 0 0 0 1px @grey, 0 1px 3px rgba(0, 0, 0, 0.16);

    &:hover {
      box-shadow: 0 0 0 1px @grey, 0 2px 4px rgba(0, 0, 0, 0.19);
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 1px @base-dark-grey-30, 0 2px 4px rgba(0, 0, 0, 0.3);
      /*Сделала фокус более явным, чем на макете*/
    }

    &:active {
      box-shadow: 0 0 0 1px @green, 0 1px 3px rgba(0, 0, 0, 0.16);
    }
  }
}

.example__range-scale {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 14px;
  padding: 0 5px;
  background-color: @white;
  border: 1px solid @grey;
  border-radius: 6px;
  box-sizing: border-box;

  @media (min-width: @width-tablet) {
    height: 6px;
    padding: 0;
    background-color: @grey;
    border: none;
  }
}

.example__range-bar {
  width: 35px;
  height: 6px;
  background-color: @green;
  border-radius: 6px;

  @media (min-width: @width-tablet) {
    display: none;
  }
}

.example__slider-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 10px 1px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;

  @media (min-width: @width-tablet) {
    padding: 0 0 1px;
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dashed @grey;

    &::after {
      position: absolute;
      top: -10%;
      left: -10%;
      bottom: -10%;
      right: -10%;
    }

    &:hover,
    &focus {
      outline: none;
      border-bottom: 1px solid @black-40;
    }

    &:active {
      border: none;
      padding-bottom: 2px;
    }
  }
}

.example__button-past {
  margin-right: 6px;

  @media (min-width: @width-tablet) {
    margin-right: 24px;
    margin-left: 11px;
  }
}

.example__button-present {
  margin-left: 3px;

  @media (min-width: @width-tablet) {
    margin-left: 20px;
    margin-right: 7px;
  }
}
