.how-work__container {
  padding: 27px 20px 46px;
}

.how-work__title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
}

.how-work__list {
  margin: 0;
  padding: 0;
  padding-left: 80px;
  font-family: @font-description;
  color: @base-dark-grey;
  list-style: none;
}

.how-work__description {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.how-work__item:last-child .how-work__description {
  margin-bottom: 0;
}
